@import "./variables.scss";
@import "./mixin.scss";

// elements

label {
  @include text-header-normal();
}

// text, search, select inputs
input[type=text],
input[type=password],
input[type=search],
select {
  width: auto;
  height: 44px;
  padding: .5rem .75rem;
  outline: none;

  border: 1px solid $border-color;
  border-radius: 4px;

  color: #000;
  font-size: 14px;

  &::placeholder {
    color: $color-caption;
  }

  &:focus {
    border-color: $color-blue;
  }
}

/* checkbox input */
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.5rem;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 0;
  color: $color-black;
}

input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid $border-color;
  background: $color-white;
  border-radius: .2em;
  box-shadow: 0 0 0 rgba(203, 203, 237, .2);
  -webkit-transition: all .275s;
      transition: all .275s;
}

/* checked mark aspect */
input[type="checkbox"]:not(:checked) + label:after,
input[type="checkbox"]:checked + label:after {
  content: '✓';
  position: absolute;
  top: .625em;
  left: .15em;
  font-size: 14px;
  font-weight: 700;
  color: $color-blue;
  line-height: 0;
  -webkit-transition: all .2s;
      transition: all .2s;
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
      transform: scale(0) rotate(45deg);
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
}

/* Disabled checkbox */
input[type="checkbox"]:disabled:not(:checked) + label:before,
input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: $border-color;
  background-color: $button-disabled-background;
}

input[type="checkbox"]:disabled:checked + label:after {
  color: $color-text-body;
}

input[type="checkbox"]:disabled + label {
  color: $color-caption;
}

/* Accessibility */
input[type="checkbox"]:checked:focus + label:before,
input[type="checkbox"]:not(:checked):focus + label:before {
  
}

/* buttons */

a[role="button"],
button {
  width: auto;
  cursor: pointer;
  border: none;
  background: none;

  font-size: 14px;
  font-weight: 700;
  text-decoration: none;

  &.block {
    @include button-base();

    height: 44px;
    padding: 0 1rem;
  }

  &.small {
    @include button-base();

    height: 32px;
    padding: 0 1rem;
  }

  &.primary-action {
    color: $color-white;
    background-color: $color-blue;
    box-shadow: 0 4px 14px 0 $color-shadow-blue;
  }

  &.link {
    display: inline;
    text-decoration: underline;
    color: $color-blue;
  }
}

