@import "./variables.scss";

// utils & mixins

@mixin box-shadow {
  box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.06), 0px 10px 16px -10px rgba(0, 0, 0, 0.036);
}

@mixin container {
  display: flex;

  background-color: #FFF;
  border-radius: .5rem;

  padding: 1rem;

  @include box-shadow()
}

@mixin button-base {
  background: $color-blue;
  border-radius: 4px;

  color: #FFF;

  &:hover {
    background-color: $button-hover-color;
  }

  &:disabled {
    background-color: $button-disabled-background;
    color: $button-disabled-color;
  }
}

@mixin flexbox(
  $direction: row, 
  $alignItems: unset,
  $alignContent: unset,
  $justifyContent: unset) {

    display: flex;
    flex-direction: $direction;
    align-items: $alignItems;
    align-content: $alignContent;
    justify-content: $justifyContent;
}

/* typography mixins */

@mixin font-base(
  $color: $color-black,
  $fontSize: 14px,
  $fontWeight: 400,
  $lineHeight: 1.2,
  $letterSpacing: 0
) {
  color: $color;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin text-caption($fontSize: 10px) {
  @include font-base($color: $color-caption, $fontSize: $fontSize, $fontWeight: 700, $lineHeight: 10px, $letterSpacing: 0.05rem);
}

@mixin text-caption-xl() {
  @include text-caption(12px);
}

@mixin text-header-normal($color: $color-black) {
  @include font-base($color: $color, $fontWeight: 700);
}

@mixin text-header-xl() {
  @include font-base($fontSize: 18px, $lineHeight: 1, $fontWeight: 700);
}

@mixin text-action-button() {
  @include font-base($color-white, 14px, 700);
}

@mixin text-body() {
  @include font-base($color: $color-text-body, $lineHeight: 18px);
}

@mixin text-base() {
  @include font-base();
}