$color-white: #FFF;
$color-red: #EB5757;
$color-black: #000;
$color-blue: #007CF0;
$color-shadow-blue: rgba(0, 118, 255, .4);
$color-green: #26AE61;
$color-shadow-green: rgba(38, 174, 97, .4);

$color-app-background: #F5f6ff;
$color-primary-background: $color-white;

$color-caption: #A5A6AF;
$color-text-body: #666;

$border-color: #D0d0d0;

$button-hover-color: rgb(31, 147, 255);
$button-disabled-background: #AAA;
$button-disabled-color: #CCC;