@import "styles/variables.scss";
@import "styles/mixin";
@import "styles/input";

// root

*,
*::before,
*::after{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $color-app-background;
}

// login screen

.login-form-container {
  background-color: $color-primary-background;
  margin: 3rem auto 1rem auto;
  padding: 2rem;

  width: 300px;
  height: 300px;

  border-radius: .5rem;

  @include box-shadow();
}

.login-form {
  width: 100%;
  height: 100%;

  @include flexbox(column);

  label { margin-bottom: .5rem;}
}

.login-result {
  @include container();

  width: 300px;
  margin: 0 auto;
  background-color: $color-red;
  color:$color-white;
  font-weight: 700;
}

.spacer {
  margin-bottom: 32px;
}

// home screen

.container {
  margin: 0 auto;
  padding: 1rem 0;

  @include flexbox(column);
}

.app-header {

  @include container();

  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;

  @include flexbox(row, center, $justifyContent: space-between);

  * { height: 100%; user-select: none; }

  .brand {
    @include flexbox(row, center);

    @include text-header-xl();

    img {
      height: 3rem;
      width: auto;
      margin-right: .5rem;
    }
  }

  .user {
    @include flexbox(column, flex-end, space-between);

    span { background-color: transparent; }
    button { background-color: transparent; }
  }
}

.contentize {
  @include container();
  @include flexbox(column);

  width: 100%;
  min-height: 100%;
  height: auto;
  margin-bottom: 1rem;

  p {
    font-weight: 700;
    margin-bottom: .5rem;
  }
}

// auction items

.filters {
  @include flexbox(row);

  *:not(:last-child) { margin-right: 1rem; }

  input {
    width: 100%;
    margin-right: 1rem;;
  }
}

.back-button {
  text-decoration: none;
  @include text-header-normal();
}

.items {
  width: 100%;
  height: auto;

  @include flexbox(column);
}

.item {
  padding: 1rem;
  width: 100%;
  height: auto;

  @include flexbox(row);

  &:not(:last-child) {
    border-bottom: 1px solid #F0F0F0;
  }

  .imgContainer {
    margin-right: 1.5rem;

    &.small {
      width: 8rem;
      height: 8rem;
    }

    &.large {
      width: 11rem;
      width: 11rem;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  }

  .item-info {
    width: 100%;
    min-height: 100%;

    @include flexbox(column, $justifyContent: space-around);

    .texts {
      @include flexbox(column);
      
      .item-caption {
        width: 100%;
        @include text-header-xl();

        margin-bottom: 6px;
      }

      .item-description {
        width: 100%;
        @include text-body();
      }
    }

    .item-actions {
      width: 100%;
      height: 32px;

      @include flexbox(row, $justifyContent: space-between);
      
      .item-countdown {
        @include flexbox(row);

        div {
          @include flexbox(column, $justifyContent: space-between);

          width: auto;
          min-width: 15%;
          height: 32px;
          margin-right: 2.5rem;

          span.label {
            @include text-caption();
          }

          span.value {
            @include text-header-normal();

            svg {
              width: 16px;
              height: 16px;
              margin-right: .5rem;
            }  
          }

          &.countdown {
            min-width: 40%;
          }

          &.lastbid {
            span.value { color: $color-green;}
          }
        }
      }

      a.to-detail {

        @include flexbox(row, center);
        
        border-radius: .25rem;
        padding: .25rem 1rem;
        background-color: $color-black;

        @include text-action-button();
        text-decoration: none;
      }
    }
  }
}

.action-container {
  @include container();
  @include flexbox(row, center, $justifyContent: space-between);
  margin-bottom: 1rem;

  .back-button { margin-right: auto; }
  button { margin-left: 2rem; }

  p.success { 
    margin-right: 2rem; 

    @include text-header-normal($color: $color-white);
    padding: .5rem 1rem;
    background-color: $color-green;
    border-radius: .25rem;
    box-shadow: 0 4px 14px 0 $color-shadow-green;
  }
}

.bids {
  @include flexbox(column);
  
  .header {
    @include flexbox(row);
    
    * {
      padding: .5rem 1rem;
      width: 25%;
      
      @include text-caption-xl();
    }
  }

  .bid {
    @include flexbox(row);

    padding: .5rem 0;
    &:not(:last-child) { border-bottom: 1px solid #F0F0F0; }

    * {
      padding: .5rem 1rem;
      width: 25%;
      
      @include text-base();
    }
  }
}

// splash & loading

.splash {
  width: 100vw;
  height: 100vh;

  @include flexbox(row, center, space-around, center);

  img {
    width: 10rem;
    height: auto;

    margin-bottom: 2rem;
    animation: rotating 5s linear infinite;
  }

  p {
    @include font-base($fontSize: 24px, $fontWeight: 700);
    margin-bottom: .5rem;
  }
}

.progress-container {
  @include flexbox(column, center, $justifyContent: center);

  padding: 2rem 0;
  width: 100%;
  height: 100%;
  position: relative;

  .progress {
    @include flexbox(column, center, $justifyContent: center);
  
    width: auto;
    height: 8rem;
    
    img {
      width: 6rem; margin-bottom: 1rem;
      animation: rotating 5s linear infinite;
    }
    span { 
      @include font-base($fontSize: 16px, $fontWeight: 700);
    }
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// media queries

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .container {
    width: 96%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 60%;
  }
}